
.fc {
	background-color: rgba(255, 130, 41, 0.8);
	padding:10px;

	th, .fc-axis, .fc-list-heading {
		background: #716aca !important;
		border-color: rgb(220, 20, 60) !important;
		color:$colorE !important;
	}

	td {
		background: rgba(255, 255, 200, .5) !important;
		border-color: rgb(220, 20, 60) !important;

		.fc-sun, .fc-sat{
			background: #f0d0a0 !important;
			color: $color3 !important;
		}
	}

	.fc-day-number{
		color: $color-danger;
		font-size: $mediumFont;
	}

	.fc-list-table td {
		color: $color3 !important;
	}

	.fc-state-highlight {
		background-color: rgba(255, 130, 41, 0.8) !important;
	}

	
	.fc {
		background-color: rgba(255, 130, 41, 0.8) !important;
	}
}
@media only screen and (max-width: 480px) {

	.fc {
		.fc-day-number{
			color: $color-danger;
			font-size: $smallFont;
		}

		.fc-axis {
			font-size: $xsmallFont;
		}
	}
}

.fc-header-toolbar {

	h2 {
		font-size: $largeFont !important;
		color: $colorF !important;
	}
	
	.fc-button {
		font-size: $smallFont;
		padding: 10px;
		font-weight: 300;
		color: $colorF;
		background-color: rgb(220, 20, 60) !important;

		&:active {
			color: $color3;
			background: $colorF;
		}

		&:focus {
			outline: none; 
		}
	}
	td {
		padding: 1px 7px;
		background: rgba(255, 255, 255, 1) ;
		border-color: $colorE;
	}
	
	.fc-state-active {
		box-shadow: none;
		color: $colorF;
		background: #716aca !important;
		&:hover {
			box-shadow: none;
			color: $colorF;
			background: #716aca !important;
		}
	}

	.fc-state-default.fc-corner-left {
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
	}

	.fc-state-default.fc-corner-right {   
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
	}
	.fc-today-button .fc-state-disabled {
		font-size: $mediumFont;
		padding: 10px;
		font-weight: 300;
		color: $colorF;
		border-color: rgba(220, 20, 60, .5) !important;
		border-width: 2px;

		&:active {
			color: $color3;
			background: $colorF;
		}

		&:focus {
			outline: none; 
		}
	}
}

@media only screen and (max-width: 480px) {
	.fc-header-toolbar{
		font-size: $xsmallFont;
	}

	.fc td th, 
	.fc .fc-title{
		font-size: $xsmallFont;
	}
	.fc-today-button {
		display:none;
	}
}


.fc-event-gradient {
	background: linear-gradient(to left, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0.45));
}

.fc-event-primary, 
.fc-event-secondary, 
.fc-event-success, 
.fc-event-warning, 
.fc-event-danger, 
.fc-event-info, 
.fc-event-dark, 
.fc-event-white,
.fc-event-black {

	.fc-content {
		padding: 5px 5px 5px 25px;
		&::before {
			content: " ";
			display: block;
			position: absolute;
			top: 10px;
			left: 10px;
			height: 10px;
			width: 10px;
			border-radius: 50%;
		}
	}

}

.fc-event-primary {
	.fc-content {
		&::before {
			background-color: $color-primary;
		}
	}
}

.fc-event-secondary {
	.fc-content {
		&::before {
			background-color: $color-secondary;
		}
	}
}

.fc-event-success {
	.fc-content {
		&::before {
			background-color: $color-success;
		}
	}
}

.fc-event-info {

	.fc-content {
		&::before {
			background-color: $color-info;
		}
	}
}

.fc-event-warning {
	.fc-content {
		&::before {
			background-color: $color-warning;
		}
	}
}

.fc-event-danger {
	
	.fc-content {
		&::before {
			background-color: $color-danger;
		}
	}
}

.fc-event-dark {
	.fc-content {
		&::before {
			background-color: $color-dark;
		}
	}
}

.fc-event-white {
	.fc-content {
		&::before {
			background-color: $color-white;
		}
	}
}

.fc-event-black {
	.fc-content {
		&::before {
			background-color: $color-black;
		}
	}
}

.fc-event.fc-start.fc-event-solid-primary {
	background-color: $color-primary;

	.fc-title {
		color: $colorF;	
	}

	.fc-event-dot {
		background: $color-primary;
		border-color: $color-primary;
	}
}

.fc-event.fc-start.fc-event-solid-secondary {
	background-color: $color-secondary;

	.fc-title {
		color: $colorF;
	}

	.fc-event-dot {
		background: $color-secondary;
		border-color: $color-secondary;
	}
}

.fc-event.fc-start.fc-event-solid-warning {
	background-color: $color-warning;

	.fc-title {
		color: $color3;
	}

	.fc-event-dot {
		background: $color-warning;
		border-color: $color-warning;
	}
}

.fc-event.fc-start.fc-event-solid-success {
	background-color: $color-success;

	.fc-title {
		color: $colorF;
	}

	.fc-event-dot {
		background: $color-success;
		border-color: $color-success;
	}
}

.fc-event.fc-start.fc-event-solid-danger {
	background-color: $color-danger;

	.fc-title {
		color: $colorF;
	}

	.fc-event-dot {
		background: $color-danger;
		border-color: $color-danger;
	}
}

.fc-event.fc-start.fc-event-solid-dark {
	background-color: $color-dark;

	.fc-title {
		color: $colorF;
	}

	.fc-event-dot {
		background: $color-dark;
		border-color: $color-dark;
	}
}

.fc-event.fc-start.fc-event-solid-white {
	background-color: $color-white;

	.fc-title {
		color: $color3;
	}

	.fc-event-dot {
		background: $color-white;
		border-color: $color3;
	}

}

.fc-event.fc-start.fc-event-solid-black {
	background-color: $color-black;

	.fc-title {
		color: $colorF;
	}

	.fc-event-dot {
		background: $color-black;
		border-color: $color-black;
	}
}

.fc-event.fc-start.fc-event-solid-info {
	background-color: $color-info;

	.fc-title {
		color: $colorF;
	}

	.fc-event-dot {
		background: $color-info;
		border-color: $color-info;
	}
}

.fc-unthemed  .fc-popover {
	box-shadow: 0px 0px 15px 1px rgba(69, 65, 78, 0.2);

	.fc-day-grid-event {
		margin: 0;
	}

	.fc-header {
		background-color: $colorF;
		border-bottom: 1px solid $colorE;
	}

	.fc-event-container {
		padding: 16px 16px 10px 16px;
		background-color: transparent !important;
	}

	.fc-event {
		margin-bottom: 8px;
	}
}

.fc-list-item.fc-event-info {
	.fc-event-dot {
		background: $color-primary;
		border-color: $color-primary;
	}
}

.fc-list-item.fc-event-primary {

	.fc-event-dot {
		background: $color-primary;
		border-color: $color-primary;
	}
}

.fc-list-item.fc-start.fc-event-secondary {

	.fc-event-dot {
		background: $color-secondary;
		border-color: $color-secondary;
	}
}

.fc-list-item.fc-event-warning {
	.fc-event-dot {
		background: $color-warning;
		border-color: $color-warning;
	}
}

.fc-list-item.fc-event-success {
	.fc-event-dot {
		background: $color-success;
		border-color: $color-success;
	}
}

.fc-list-item.fc-event-danger {
	.fc-event-dot {
		background: $color-danger;
		border-color: $color-danger;
	}
}

.fc-list-item.fc-event-dark {
	.fc-event-dot {
		background: $color-dark;
		border-color: $color-dark;
	}
}

.fc-list-item.fc-event-white {
	.fc-event-dot {
		background: $color-primary;
		border-color: $color-primary;
	}
}

.fc-list-item.fc-event-black {
	.fc-event-dot {
		background: $color-black;
		border-color: $color-black;
	}
}

.fc-list-item.fc-event-info {
	.fc-event-dot {
		background: $color-info;
		border-color: $color-info;
	}
}