
.tab-content {
	margin-top: 30px;
}

.nav-link {
	padding: 10px;
	margin-left: 2px;

	i {
		font-size: 16px;
	}
}

.nav.nav-pills {
	.nav-link.active {
		i {
			color: $colorF;
		}
	}
}

.nav-pills {

	.nav-link.active {
		color: $colorF;
		background: $color-primary;
	}

	.show>.nav-link {
		color: $colorF;
		background: $color-primary;
	}
}

.contact-panel .nav-item {
    color: $color-green;
	.nav-link {
        color: $color-green;
		&:hover {
			color: $color-warning;
		}
	}

	.nav-link.active {
		background-color: $color-primary;
	}
}

.contact-panel .nav.nav-pills.nav-pills-primary {
	
	.nav-link {
		&:hover {
			color: $color-green;
		}
	}

	.nav-link.active {
		background-color: $color-primary;
	}
}

.nav.nav-pills.nav-pills-success {
	
	.nav-link {
		&:hover {
			color: $color-success;
		}
	}
	
	.nav-link.active {
		background-color: $color-success;
	}
}

.nav.nav-pills.nav-pills-warning {
	
	.nav-link {
		&:hover {
			color: $color-warning;
		}
	}
	
	.nav-link.active {
		background-color: $color-warning;
	}
}

.nav.nav-pills.nav-pills-danger {
	
	.nav-link {
		&:hover {
			color: $color-danger;
		}
	}

	.nav-link.active {
		background-color: $color-danger;
	}
}

.nav.nav-pills.nav-pills-secondary {
	
	.nav-link {
		&:hover {
			color: $color-secondary;
		}
	}
	
	.nav-link.active {
		background-color: $color-secondary;
	}
}

.nav.nav-pills.nav-pills-info {
	
	.nav-link {
		&:hover {
			color: $color-info;
		}
	}
	
	.nav-link.active {
		background-color: $color-info;
	}
}

.nav.nav-pills.nav-pills-dark {
	
	.nav-link {
		&:hover {
			color: $color-dark;
		}
	}
	
	.nav-link.active {
		background-color: $color-dark;
	}
}

.nav.nav-pills.nav-pills-primary, .nav.nav-pills.nav-pills-secondary,
.nav.nav-pills.nav-pills-success, .nav.nav-pills.nav-pills-warning,
.nav.nav-pills.nav-pills-info, .nav.nav-pills.nav-pills-danger,
.nav.nav-pills.nav-pills-dark {
	.nav-link.active {
		&:hover {
			color: $colorF;
		}
	}
}
