/* [ ELEMENTS CSS START ] */
html,
body {
  height: 100% !important;
  display: flex;
  flex-direction: column;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

a {
  text-decoration: none;
  color: inherit;
  line-height: 1.6;
  font-weight: 400;
  cursor: pointer;

  &:hover,
  &:active {
    text-decoration: none;
    outline: 0;
    color: inherit;
  }
}

p,
span {
  line-height: 1.6;
}

label {
  line-height: 1.6;
  font-weight: 400;
  margin: 0;
}

input,
textarea {
  font-family: $font;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  border: 0;

  &:focus {
    //border: 0;
    outline: 0;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea {
  resize: none;
}

button {
  background-color: transparent;
  border: 0;

  &:active {
    outline: none;
  }
}

select {
  //border: none;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $fontHeading;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: normal;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

blockquote {
  font-family: $font;

  &::after {
    display: none;
  }

  &::before {
    display: none;
  }
}

.blockquote {
  font-size: 18px;
  padding: 0.5rem 1rem;
  margin: 0 0 1rem;
  font-style: normal;
  font-family: $fontHeading;
  margin-bottom: 1rem;
  color: $color5;
  border-left: 0.25rem solid #eceeef;
}

/* [ FONT SIZE CSS START ] */

.font-8 {
  font-size: 8px;
}

.font-10 {
  font-size: 10px;
}

.font-12 {
  font-size: 12px;
}

.font-13 {
  font-size: 13px;
}

.font-14 {
  font-size: 14px;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px !important;
}

.font-20 {
  font-size: 20px !important;
}

.font-24 {
  font-size: 24px !important;
}

.font-28 {
  font-size: 28px !important;
}

.font-30 {
  font-size: 30px !important;
}

.font-32 {
  font-size: 32px !important;
}

.font-36 {
  font-size: 36px !important;
}

/* [ FONT WEIGHT CSS START ] */
.font-400 {
  font-weight: 400;
}

.font-500 {
  font-weight: 500;
}

.font-600 {
  font-weight: 600;
}

/* [ FONT FAMILY CSS START ] */

.font-poppins {
  font-family: $font;
}

.font-dosis {
  font-family: $fontHeading;
}

.footer {
  width: 100%;
  text-align: center;
  padding: 10px;
  margin: 70px 0 0 0;
  flex-shrink: 0;
}
.footer p {
  color: $color5;
  margin: 0;
}