<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
        </defaultDocument>
        <httpRedirect enabled="false" destination="http://portal.rnggaming.com/clients" exactDestination="false" />
        <httpErrors errorMode="Detailed" />
        <handlers>
            <remove name="PHP_via_FastCGI1" />
            <add name="PHP_via_FastCGI1" path="*.php" verb="GET,HEAD,POST" modules="FastCgiModule" scriptProcessor="C:\PHP7\v7.4\php-cgi.exe" resourceType="Either" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
